{
  "plugins": ["transform-object-rest-spread", "syntax-dynamic-import", "dynamic-import-node"],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.7"
        }
      }
    ]
  ],
  "sourceMaps": true,
  "retainLines": true
}
